body {
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
}

.container {
  border: 2px solid #ccc;
  border-radius: 20px;
  max-width: 500px;
  margin: 30px auto;
  padding: 30px 40px;
  text-align: center;
  background-color: #0a0a0a;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

h2 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 30px;
}

.avatar-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.avatar-section span {
  font-size: 32px;
  margin: 0 10px;
}

.avatar-button {
  border: 1px solid #1e90ff;
  background-color: transparent;
  color: #1e90ff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 16px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}

label {
  text-align: left;
  font-size: 14px;
}

input {
  padding: 8px;
  border-radius: 6px;
  border: 2px solid #ccc;
  background-color: #000;
  color: #fff;
  font-size: 14px;
}

button#btnCadastrar {
  background-color: #003f6b;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

button#btnCadastrar:hover {
  background-color: #005999;
}

.botaoLogin{
    font-size: 25px;
    text-decoration: none;
}

#lkCadastrese{
    color: #a29fff;
}

#lkEsqueciASenha{
    color: #ff0000;
    font-size:17px
}

